<!DOCTYPE html>
<html lang="en" th:fragment="Admin_header">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="/css/header.css" rel="stylesheet"/>
    <div id="header">
        <ul id="adminHeader">
            <li> <a href="/"> 메인 홈페이지 </a></li>
            <li> <a href="/admin/board"> 관리자 메인 페이지 </a></li>     <!-- 구장 관련 -->
            <li> <a href="/admin/mview"> 회원목록 </a></li>
            <li> <a href="/admin/payment"> 결제 </a> </li>
            <li> <a href="/admin/"> 환불/취소 내역 </a> </li>
            <li> <a href="/admin/"> 계좌이체 </a> </li>
        </ul>
    </div>
    <!-- 1. JQUERY, AJAX  -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- 2. header.js  -->
    <script src="/js/admin/header.js"></script>
</body>
</html>