<!DOCTYPE html>
<html lang="en" th:fragment="Admin_header">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul id="">
        <li> <a href="/admin/"> 회원목록 </a></li>
        <li> <a href="/admin/board"> 구장 </a></li>     <!-- 관리자 메인 페이지 -->
        <li> <a href="/admin/"> 결제 </a> </li>
        <li> <a href="/admin/"> 환불/취소 내역 </a> </li>
        <li> <a href="/admin/"> 계좌이체 </a> </li>

    </ul>

    <!-- 1. JQUERY, AJAX  -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>