<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:replace="~{ /admin/header.html :: Admin_header }"></div>

<div class="container">

    <!-- 값가져오고 값 수정해야할 애들 -->
    <div> 제목 : <input class="btitle" /></div>
    <div> 주소 : <input class="baddress" /></div>
    <div> 시간 : <input class="bdatetime" /> </div>
    <div> 가격 : <input class="bprice" /> </div>
    
    <div class="btnBox"></div>
</div>

<script src="/js/board/update.js"></script>
<div th:replace="~{ /footer.html :: footer }"></div>

</body>
</html>

