<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:replace="~{ /admin/header.html :: Admin_header }"></div>

<div class="container">

    <!-- 값가져오고 값 수정해야할 애들 -->
    <div> 제목 : <input class="btitle" /></div>
    <div> 주소:  <br /><input style="display:none" type="text" id="sample6_postcode" placeholder="우편번호">
        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
        <input type="text" id="sample6_address" placeholder="주소"><br>
        <input type="text" id="sample6_detailAddress" placeholder="상세주소">
        <input type="text" style="display:none" id="sample6_extraAddress" placeholder="참고항목">

    </div>
    <div> 시간 : <input class="bdatetime" /> </div>
    <div> 가격 : <input class="bprice" /> </div>
    
    <div class="btnBox"></div>
</div>

<script src="/js/board/update.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<div th:replace="~{ /footer.html :: footer }"></div>

</body>
</html>

