<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="~{ /header.html :: header }"></div>

    <div>
        정말 탈퇴하시겠습니까? <br>
        탈퇴를 원하신다면 비밀번호를 입력해주세요. <br>
    </div> <br>

    <form>
        <div>
            비밀번호 <br>
            <input type="password" class="pw" />
        </div> <br>

        <!-- <div> 비밀번호 확인 : <input type="password" class="pwcheck" /> </div> -->

        <button type="button" onclick="memberDelete()">탈퇴</button>
    </form> <br>

    <script src="/js/member/delete.js"></script>
    <div th:replace="~{ /footer.html :: footer }"></div>
</body>
</html>