<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 2. css  호출--->
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ /header.html :: header }"></div>
<div id="ID">아이디</div>
<input class="memberId"/> <br/>

<div id="PW">비밀번호 </div>
<input class="memberPw" /> <br/>

<div id="part">
<button type="button" onclick="login()">로그인</button>
<p class="memberSign" ><a href="/member/signup.html"> 회원가입</a></p>

</div>


<script src="/js/member/login.js"></script>
<div th:replace="~{ /footer.html :: footer }"></div>
</body>
</html>