<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    ._mtitle{
        font-weight: bold;
    }
    #Topmain{
        font-weight: bold;
    }
    #pointHistory{
    color: blue;
    }

    .wrap{
    width:500px;
    margin: 0 auto;
    }

</style>
<body>
<div class="wrap">
<div th:replace="~{ /header.html :: header }"></div>

<div id="Topmain"> 마이페이지(기본설정)</div> <br/><br/>
<div id="myinfoBox">


</div>

<button type="button" onclick="location.href='/member/update'">회원정보수정</button>
<button type="button" onclick="location.href='/member/delete'">회원탈퇴</button>
<br/><br/>

<hr />
<a id="pointHistory" href="/point/history">포인트 사용내역 보기 </a>
<a id="reservationPrint" href="/reservation/print">구장 예약 목록 보기 </a>

</div>

<script src="/js/member/myinfo.js"></script>
<div th:replace="~{ /footer.html :: footer }"></div>





</body>
</html>