<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    ._mtitle{
        font-weight: bold;
    }
</style>
<body>

<div th:replace="~{ /header.html :: header }"></div>
<div> 마이페이지(기본설정)</div> <br/><br/>
<div id="myinfoBox">


</div>

<button type="button" onclick="location.href='/member/update'">회원정보수정</button>
<button type="button" onclick="location.href='/member/delete'">회원탈퇴</button>

<script src="/js/member/myinfo.js"></script>
<div th:replace="~{ /footer.html :: footer }"></div>





</body>
</html>