<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>포인트 환불</title>
</head>
<body>
    <div th:replace="~{ /header.html :: header }"></div>

    <div id="wrap">
        <div>포인트 환불</div> <br>

        <div>환불할 금액</div>

        <div>
            <button type="button" onclick="getPrice(5000)">5,000원</button>
            <button type="button" onclick="getPrice(10000)">10,000원</button>
            <button type="button" onclick="getPrice(15000)">15,000원</button> <br>

            <button type="button" onclick="getPrice(20000)">20,000원</button>
            <button type="button" onclick="getPrice(25000)">25,000원</button>
            <button type="button" onclick="getPrice(30000)">30,000원</button> <br>

            <button type="button" onclick="getPrice(40000)">40,000원</button>
            <button type="button" onclick="getPrice(50000)">50,000원</button>
            <button type="button" onclick="getPrice(100000)">100,000원</button>
        </div> <br>

        <div>
            계좌주명 <br>
            <input type="text" class="accountHolderName" />
        </div> <br>

        <div>
            은행명 <br>
            <input type="text" class="bankName" />
        </div> <br>

        <div>
            계좌번호 <br>
            <input type="text" class="account" />
        </div> <br>

        <button type="button" onclick="doPointRefund()">환불 신청</button>
    
    </div>

    <script src="/js/point/refund.js"></script>

    <div th:replace="~{ /footer.html :: footer }"></div>
</body>
</html>