<!DOCTYPE html>
<html lang="en" th:fragment="footer">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/footer.css" rel="stylesheet" />

</head>
<body>

    <div id="footer">
        <div id="thirdLine">
            <h4>plabfootball.com</h4>
            <div>풋살하고 싶을 땐, 플랩풋볼</div>
            <div>이용 약관 | 개인정보 처리방침 | 사업자 정보 확인</div>
            <div>
                플랩풋볼 | 서울특별시 마포구 잔다리로31 제우피스빌딩 2층 | 대표 메일</br>
                contact@plabfootball.com |마케팅 제안 marketing@plabfootball.com | 언론, 연구</br>
                team@plabfootball.com | 02-704-7983</br>
                주식회사 마이플레이컴퍼니 | 사업자번호 650-81-00575 | 대표 강동규 | 통신판매업 신고</br>
                2020-서울마포-4411
            </div>
            <div>Copyright PLAB All rights reserved.</div>
        </div>

    </div>


</body>
</html>