<!DOCTYPE html>
<html lang="en" th:fragment="header">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 1. CSS 호출 -->
    <link href="/css/header.css" rel="stylesheet" />
</head>
<body>
<!-- 로그인 관련 메뉴-->
<ul id="loginMenu">
    <li > <a  href="/member/signup"> 회원가입</a> </li>
    <li > <a  href="/member/login"> 로그인 </a></li>
    <li > <a  href="/member/my/info"> 내정보 </a> </li>

</ul>



    <!-- 1. JQUERY, AJAX  -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>