* {

    padding: 0px;
    margin: 0 auto;
    font-size: 12px;
    box-sizing: border-box;
}

#date{
    font-size: 12px;
    font-weight: bold;   
  
}

#title{
  font-size: 16px;
}

#address{
  
}

#price{
    font-size: 14px;
    font-weight: bold;  
    margin-bottom: 10px;
 
}
#boardbtn{
    width: 100%;
    color: white;
    background-color: #1570ff;
    border-radius: 12px;
    padding: 12px;
    border: none; /* 기본 테두리 제거 */
    outline: none; /* 포커스 시 기본 아웃라인 제거 */
    box-shadow: none; /* 기본 그림자 제거 */
    margin-bottom: 10px;
}

